<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://127.0.0.1:8000">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Default title
        {% endblock title %}
    </title>

    {% if user.is_authenticated %}
        <i>Welcome, <a href="user/{{user}}">{{ user }}</a>!</i>
        <form action='{% url "logout" %}' target="_blank">
           <button>Log out</button>
        </form>
    {% endif %}

    {% if not user.is_authenticated %}
        {% if request.path != "/login" %}
            <h4>Have an account?</h4>
            <form action='{% url "login" %}' target="_blank">
               <button>Log in</button>
            </form>
        {% endif %}
        {% if request.path != "/registration" %}
            <h4>New here?</h4>
            <form action='{% url "registration" %}' target="_blank">
               <button>Registration</button>
        {% endif %}
    </form>

    {% endif %}
</head>
<body>
    {% block back_to_main %}
        <form action='{% url "index" %}' target="_blank">
           <button>🏠</button>
        </form>
    {% endblock %}

    {% block profile_greeting %}

    {% endblock profile_greeting %}

    {% block desc %}

    {% endblock desc %}

    {% block leave_delete %}

    {% endblock leave_delete %}

    {% block data %}

    {% endblock data %}

    {% block other_data %}

    {% endblock other_data %}

    {% block form %}

    {% endblock form %}

    {% block stay %}

    {% endblock stay %}

    {% block delete_forever %}

    {% endblock delete_forever %}

</body>
