{% extends "base.html" %}

{% block title %}
    Log In
{% endblock title %}

{% block form %}

    <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if user.is_authenticated %}
            <h3>You are already logged in (go to the logout page to log out)</h3>
        {% else %}
            <h1>Log In</h1>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            {% endfor %}
            <input type="submit" name="login_user" value="login" />
        {% endif %}

    </form>
{% endblock %}
