{% extends "base.html" %}

{% block title %}
    Create a chat
{% endblock title %}

{% block form %}

    {% if chat_form.errors %}
        {% for field in chat_form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in chat_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

        <form method="POST" name="create-chat">
        {% csrf_token %}
        {% if not user.is_authenticated %}
            <h3>You can't create chats since you aren't logged in</h3>
        {% else %}
        {% for c_f in chat_form %}
            <p><label class="form-label" for="{{ c_f.id_for_label }}">{{c_f.label}}: </label>{{ c_f }}</p>
        {% endfor %}
            <input type="submit" value="OK" name="type_chosen"/>
        {% endif %}
        </form>
{% endblock form %}
