{% extends "base.html" %}


{% block title %}
    Index
{% endblock title %}

{% block data %}
    <h3>Your chats:</h3>
    {% for chat in chats %}
        <h4><a href="chat/{{chat.id}}">Name: {{chat.name}} ({{chat.type}})</a></h4>
        {% for member in chat.members.all %}
            {% if member != user %}
                <a href="user/{{member}}"><h4>{{member}}</h4></a>
            {% endif %}
        {% endfor %}
        <h5>-----------------------------------------------</h5>
    {% endfor %}
{% endblock %}

{% block form %}
    <form action='{% url "create-chat" %}' target="_blank">
       <button>Create a new chat</button>
    </form>
{% endblock form %}
