{% extends "base.html" %}


{% block title %}
    Home page
{% endblock title %}

{% block data %}
    <h3>Your chats:</h3>
    {% for chat in chats %}
        {% if chat.type == "C" %}
            <h4><a href="chat/{{chat.id}}">{{chat.name}} ({{chat.type}})</a></h4>
        {% else %}
            {% if user == chat.member1 %}
                <h4><a href="dialog/{{chat.id}}">{{chat.member2}} ({{chat.type}})</a></h4>
            {% else %}
                <h4><a href="dialog/{{chat.id}}">{{chat.member1}} ({{chat.type}})</a></h4>
            {% endif %}
        {% endif %}
        {% if chat.last_message == None %}
            No messages yet
        {% else %}
            {{chat.last_message}}
        {% endif %}
        <h5>-----------------------------------------------</h5>
    {% endfor %}
{% endblock %}

{% block form %}
    <form action='{% url "create_chat" %}' target="_blank">
       <button>Create a new chat</button>
    </form>

    <form action='{% url "create_dialog" %}' target="_blank">
       <button>Create a new dialog</button>
    </form>
{% endblock form %}

{% block back_to_main %}

{% endblock %}
